@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Raleway, sans-serif;
  height: 100%;
  background-image: linear-gradient(
    340deg,
    rgb(185 238 174) 0%,
    rgb(120 75 93) 15%,
    rgb(150 146 185 / 100%) 45%,
    rgb(207 167 183 / 100%) 60%,
    rgb(238 237 174) 75%,
    rgb(64 125 128) 100%
  );
  background-size: 1000% 1000%;
  background-repeat: space;
  animation: gradient 60s cubic-bezier(0.78, 0.78, 0.58, 1) infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

::selection {
  background-color: rgb(63 56 67);
  color: white;
}
